@using Microsoft.AspNetCore.Identity
@using TheLendingCircle.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@* @inject RoleManager<IdentityRole> roleManager; *@

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello
                @User.Identity?.Name!</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdownMenuLink" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
                Hello @User.Identity?.Name
            </a>

            <ul class="dropdown-menu" aria-labelledby="userDropdownMenuLink">
                <li><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a></li>
                <hr />
                <li><a class="dropdown-item" asp-area="" asp-page="/Admin/Item">Item List</a></li>
                <li><a class="dropdown-item" asp-area="" asp-page="/Admin/Loan">Loan List</a></li>
                <li><a class="dropdown-item" asp-area="" asp-page="/Admin/Request">Request List</a></li>
                <li><a class="dropdown-item" asp-area="" asp-page="/Admin/Review">Review List</a></li>
                <li><a class="dropdown-item" asp-area="" asp-page="/Admin/User">User List</a></li>
                <hr />
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                    asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
