html {
  font-size: 14px;
}

.navbar {
  position: relative; /* Set the navbar to fixed position */
  top: 0;
  width: 100%;
  z-index: 5000;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.img-preview {
  height: 200px;
  object-fit: cover;
  max-width:185px;
  max-height:200px;
}

.roundedcorners {
  border-radius: 1em;
}

.row-gap-2 {
  row-gap: 2em;
}

body{
  margin-bottom: 60px;
  background-color:#f2f6fc;
  color:#69707a;
  }
  .img-account-profile {
      height: 10rem;
  }
  .rounded-circle {
      border-radius: 50% !important;
  }
  .card {
      box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
  }
  .card .card-header {
      font-weight: 500;
  }
  .card-header:first-child {
      border-radius: 0.35rem 0.35rem 0 0;
  }
  .card-header {
      padding: 1rem 1.35rem;
      margin-bottom: 0;
      background-color: rgba(33, 40, 50, 0.03);
      border-bottom: 1px solid rgba(33, 40, 50, 0.125);
  }
  .form-control, .dataTable-input {
      display: block;
      width: 100%;
      padding: 0.875rem 1.125rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1;
      color: #69707a;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #c5ccd6;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.35rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .cover {
    object-fit: cover;
    width: 150px;
    height: 150px;
  }
  .btn-primary {
    color: #fff;
    background-color: #652EE4;
    border-color: #652EE4;
  }
  .btn:hover {
    color: #fff;
    background-color: #895ff0;
    border-color: #895ff0;
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #652EE4;
    border-color: #652EE4;
  }
  
  